@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {

    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

nav {

    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
}

#nav-home {

    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 2rem;
    
}

#nav-about {

    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 16px;

}

#register, #login {

    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
    align-items: center;

}

#register i, #login i {

    margin-right: 7px;

}


.nav-section a {

    margin-right: 10px;

}

.dark-mode {

    background-color: rgb(31, 28, 28);
    color: white

}

.dark-mode-a {

    color: white !important;

}

.dark-mode-btn {

    background-color: rgb(31, 28, 28) !important;
    color: white !important;

}

.dark-mode-span {

    color: black !important;

}

.leaderboard {
    
    display: flex;
    align-items: center;
    justify-content: center;

}

#leaderboard-table, th, td {

    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px 24px;

}

.edit-message {

    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;

}

#edit-btn {

    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;

}

#name, #account-created, #total-amount, #iid {

    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 16px;

}

.gallery-center {

    display: flex;
    justify-content: center;
    align-items: center;

}

.gallery-grid {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    

}

.image-css {

    margin: 25px;
    max-width: 600px;
    max-height: 350px;

}

.modal-gallery {
    display: none;
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: none; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9); 
}

.modal-gallery-img {
    padding-top: 80px;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close-gallery {
    position: absolute;
    top: 45px;
    right: 55px;
    color: red;
    font-size: 50px;
    font-weight: bold;
    transition: 0.5s;
}

.close-gallery:hover,
.close-gallery:focus {
    color: lightcoral;
    text-decoration: none;
    cursor: pointer;
}


@media only screen and (max-width: 700px){
    .modal-gallery {
      width: 100%;
    }
}


