@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {

    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

nav {

    padding: 1.5rem 0;
    display: flex;
    justify-content: space-around;
}

#nav-home {

    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 2rem;
    
}

#nav-about {

    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 16px;

}

#nav-cart {

    
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 16px;

}

#register {

    padding: 10px 25px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;
    align-items: center;

}

#register i {

    margin-right: 7px;

}

.nav-section a {

    margin-right: 10px;

}

.container {

    display: block;
    margin: auto;
    max-width: 1200px;
    margin-top: 7rem;

}

#text-above-search {

    text-align: center;
    font-size: 40px;
    margin-bottom: 4rem;

}

.search-food {

    text-align: center;

}

#search-address {

    width: 25rem;
    padding: 12px 25px;
    border: 1px solid black;
    border-radius: 16px;

}

#search-location {

    padding: 12px 25px;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;

}

.divider {

    margin-top: 9rem;
    

}

.img-section {

    display: flex;

}

#high-quality-image{

    object-fit: cover;
    max-width: 55%;
    

}

.text-section {

    width: 1000px;
    margin-top: 300px;
}

.text-img {

    font-size: 30px;
    text-align: center;

}

#add-restaurant {

    text-decoration: none;
    cursor: pointer;
    color: black;
    display: block;
    margin-top: 15px;
    font-size: 20px;
    

}

#add-restaurant:hover {

    text-decoration: underline;

}

.categories {

    margin-top: 45px;
    background-color: rgb(233, 231, 231);
    padding-bottom: 50px;

}

.categories p {

    padding: 50px;
    text-align: center;
    font-size: 40px;
    
    

}

.category-items {

    display: flex;
    justify-content: center;
    align-items: center;

}

.item {

    width: 115px;
    height: 115px;
    border: 1px solid black;
    border-radius: 16px;
    text-align: center;
    background-color: white;

}

.item:hover {

    border-color: grey;
    cursor: pointer;
    box-shadow: 0 0 10px #557fa1;
    

}

.item img {

    
    height: 70px;
    width: 70px;
    object-fit: cover;
    margin: 2px 0 8px 0;

}

.category-items .item {

    margin: 0px 25px;

}

.become-a-part-section {

    margin-top: 75px;

}

#part-section-text {

    text-align: center;
    font-size: 40px;

}

#part-under-section-text {

    margin: 15px 0;
    color: #6b6e79;
    text-align: center;
    font-size: 20px;

}

.cool-line {

    background-color: black;
    border-radius: 12px;
    height: 4px;
    width: 50px;
    margin: 0 auto;
    display: block;
    
    

}

.rowww {

    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;

}

.part-of-buttons {

    padding: 12px 25px;
    border: 1px solid black;
    border-radius: 16px;
    cursor: pointer;

}

.the-end {

    margin-top: 15px;
    background-color: grey;
    padding: 4rem 3rem;

}


#appstore {

    width: 800px;
    height: 800px;

}