<div class="cart">
        <h2 class="cart-text">Your <span style="color: grey">Cart</span></h2>
        <span class="cool-line"></span>
        <div class="cart-items">
            <div class="cart-item">
                <div class="cart-item-content">
                    <div class="info">
                        <img id="cart-item-1" src="images/greek_salad.png" alt="greek salad">
                        <div class="more-info">
                            <p class="cart-name">Greek salad</p>
                            <p class="cart-desc">Fresh greek salad, natural ingredients</p>
                        </div>
                        <p class="price"><span style="color: yellow">$</span>10.49</p>
                    </div>
                    <div class="remove"><i id="remove" class="fa-solid fa-trash-can"></i></div>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-item-content">
                    <div class="info">
                        <img id="cart-item-2" src="images/cola.png" alt="greek salad">
                        <div class="more-info">
                            <p class="cart-name">Cola</p>
                            <p class="cart-desc">Refreshing drink, 150ml x 12 packs</p>
                        </div>
                        <p class="price"><span style="color: yellow">$</span>6.78</p>
                    </div>
                    <div class="remove"><i id="remove" class="fa-solid fa-trash-can"></i></div>
                </div>
            </div>
            <div class="cart-item">
                <div class="cart-item-content">
                    <div class="info">
                        <img id="cart-item-3" src="images/hamburger.png" alt="greek salad">
                        <div class="more-info">
                            <p class="cart-name">Burger</p>
                            <p class="cart-desc">Burger from McDonalds, ingredients</p>
                        </div>
                        <p class="price"><span style="color: yellow">$</span>7.32</p>
                    </div>
                    <div class="remove"><i id="remove" class="fa-solid fa-trash-can"></i></div>
                </div>
            </div>
        </div>
    </div>
    <span class="cool-line"></span>
    <div class="final-section">
        <div class="coupon">
            <form action="#" method="GET">
                <input id="coupon" type="text" name="coupon" id="coupon" placeholder="Coupon Code">
                <button class="coupon-submit" type="submit">Apply coupon <i class="fa-solid fa-arrow-right"></i></button>
            </form>
        </div>
        <div class="cart-total">
            <p class="total-title">Cart Total</p>
            <div class="subtotal-price">
                <p class="subtotal">Subtotal: </p>
                <p class="subtotal-p">$24.59</p>
            </div>
            <div class="total-price">
                <p class="total">Total: </p>
                <p class="total-p">$24.59</p>

            </div>
            <button id="check-btn" class="checkout-button" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Proceed to Checkout <i class="fa-solid fa-arrow-right"></i></button>
            
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5 text-danger" id="exampleModalLabel">Whoops</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-danger">
                    Server error 500
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
                </div>
            </div>
  
        </div>
        
</div>
    