<div class="search-food">
        <form action="#" id="foodForm">
            <label for="foodSearch" id="foodlabel">Search for any type of <b>food</b> and get ingredients</label><br><br>
            <input placeholder="e.g. Pizza" type="text" id="foodtxt">
            <button id="foodsubmit" type="submit">Search&nbsp;<i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
    </div>
    <h1 id="search-result"></h1>
    <div id="ingredients">
        <ul id="ing">

        </ul>
    </div>
    <div style="text-align: center">
        <a style="text-decoration: none; color:black; cursor: pointer;" id="readmore">Read more about where we get our recipes&nbsp;&nbsp;<i class="fa-solid fa-arrow-up-right-from-square"></i></a>
</div>
    
